
h1{
    text-align: center;
    margin-top: 50px;
}
img{
    width: 320px;
    height: 176px;
}
.container1{
    margin-top: 5%;
}
p{
    text-align: center;
    margin-top: 20px;
     width: 320px;
    height: 150px;
    font-size: 22px;
    font-family: 'SF Pro Display';


}